<div class="jumbotron">
        <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 text-center" >
                            <h1>US NJ DMV Tests</h1>    
                    </div>
                </div>
        </div>
</div>

<div class="container-fluid">
    <div class="row">
            <div class="col-sm-12 text-center"></div>
    </div>
    <div class="row">
            <div class="col-sm-2 text-center">
                LEFT ADV
            </div>
            <div class="col-sm-4 text-center">
                <a class="btn btn-lg btn-outline-secondary" href="njdmvtest">NJ DMV TEST <br> <strong>Нью Джерси </strong> <br> тест на права</a>
            </div>
            <div class="col-sm-4 text-center">
                    <a class="btn btn-lg btn-outline-secondary" href="edittest">EDIT TEST <br> Редактор</a>
                </div>            
            <div class="col-sm-2 text-center">
                RGHT ADV
            </div>
    </div>
</div>